*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
}

header
{
    background-color: #b768a2;
    padding: 2%;
    position:sticky;
    left: 10px;
    top: 10px;
    z-index: 100;
}

footer
{
    background-color: #C0D99C;
}

main
{
    text-align: center;
    margin-top: 5%;
}

h1
{
    color: darkgreen;
}

li
{
    display: inline;
}

#contactForm
{
    border-color: purple;
    border-radius: 10px;
    border-style: solid;
    margin: 10% 20% 5%; 
    padding: 0 10% 2%;
}

#send
{
    padding: 10px;
}

footer
{
    font-size: small;
    padding: 1%;
}

input
{
    margin-bottom: 2%;
}

a:hover
{
    color: white;
}